@font-face {
    font-family: "Lexend";
    src: url("./fonts/Lexend.woff2") format("woff2")
}

@font-face {
    font-family: "Digidither";
    src: url("./fonts/digidither.otf.woff2") format("woff2")
}

h1 {
    font-family: "Digidither", sans-serif;
        color: black;
}
body {
    font-family: "Lexend", sans-serif;
    color: black;
}